@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
i{
    color: #2fccd0;
}
h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
    color: #606060;
}
.header{
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url(../img/slider.jpg);
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
}
.header::before{
    position: absolute;
    content:"";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
opacity: 0.3;
z-index: -1;
 background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);

}
.navbar::before{
    position: absolute;
    content:"";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
opacity: 0.3;
z-index: -1;
 background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);

}
.navbar-toggler-icons i{
    color: white;
    font-size: 24px;
}
.nav-item a{
    color: #fff!important;
    font-weight: bold;
}
.header_section{
width: 100%;
height: inherit;
text-align: center;
position: relative;
color: white;
}
.center_div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.center_div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}
.header_buttons a {
    border: 1px solid white;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
    transition:all 0.3s linear;
}
.header_buttons a:hover{
    color: #50d1c0;
    background: #fff;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
}
/* ******* second div start*********** */
.header_extra_div{
    width: 100%;
    height: auto;
margin: 100px 0;
text-align: center;
padding: 100px 0px;
overflow:hidden;
}
.extra_div{
    background: #fff;
    padding: 50px;
    border-radius: 3px;
    transition: 0.3s;
    border: 1px solid #ddd;
}
.extra_div:hover{
    box-shadow:0 0 24px 0 rgb(0 0 0 / 23%);
    transform: translateY(-20px);
    border: 1px solid #ddd;
}
/* ********** offer section start *************** */
.custom_progress.my-3 h1 {
    font-size: 18px;
    position: relative;
    text-transform: uppercase;
}

.custom_progress.my-3 h1:after {content: "90%";position: absolute;top: 0;right: 29%;}

/* *************** offer section start ****************** */
.headings p {
    font-size: 17px;
}
.service_offers{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom:50px;
}
.headings h1{
    margin-bottom: 21px;
    font-size: 1.5rem;
    font-weight: 600px;
    text-transform: uppercase;
}
.service_icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress {
    height: 0.7rem;
    margin-bottom: 24px!important;
}
/* *************** offer section end ****************** */
.project_works{
    margin: 100px 0;
}
.project_works h1{
    font-size: 2rem;
    text-align: center;
}

.clients p {
    text-transform: capitalize;
}
/* **************** awards section start********************** */
.pricing{
    width: 100%;
    height: 100vh;
    position:relative;
}
.pricing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1111;
    background-image: linear-gradient(155deg, #16c9f6 50%,#fff 0%);
}
.money{
    font-size:40px;
    line-height: 1;
    color: #606060;
}
.card{ 
    transition: 0.4s ease;
}
.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff!important;
    padding: 25px 9px!important;
}
.card-body{
    padding: 30px 0px!important;
}
.card-body li{
    margin: 10px 0px;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
    font-weight: 400;
}
.card-footer{
    background: white!important;
    padding:30px 0px!important ;
}
.card-footer a {
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
    transition:all 0.3s linear;
}
.card:hover .card-footer a{
    color: #fff;
    background: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
}
.second_card{
    transform: translateY(-20px);
}
.pricing .headings h1 {
    z-index: 999;
    color: #fff;
    font-size: 30px;
    padding-bottom: 15px;
}
section#pricing_div {
    padding-top: 50px;
}
/* **************** awards section end********************** */
/* **************** happing client section start********************** */
.happingclients{
    width: 100%;
    /* height: 100vh; */
    padding: 80px 0px;
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}
.box:hover{
    background:#16c9f6 ;
}
.box:hover h1,h2{
    color: #606060;
}
.box:hover p{
    color: white;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px!important;
}
.carousel-indicators button{
color: black!important;
}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    object-fit: cover;
}
.box a span i{
    color: white;
}
.box a span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(5, 221, 228);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(12px, 12px);
}
.box h1{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.box h2{
    font-size: 13px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 10px;
    text-transform: capitalize;
    padding-bottom: 22px;
}
.box p {
    padding: 0 35px;
}
.carousel-indicators :active{
    height: 1px!important;
}
/* **************** happing client section end********************** */
/* ************* contact us start******************* */
.contact_us{
    width: 100%;
    height: 100vh;
    padding: 80px 0px;
    position: relative;
    
}
.contact_us::before{
    content:"";
    position: absolute;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(151deg, #fff 50%, #16c9f6 0%);
    z-index: -1;
}
.form_button button{
    border: 1px solid white!important;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: #606060;
    background:#fff ;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
    transition:all 0.3s linear;
}
.form_button button:hover{
    color: #50d1c0!important;
    background: #fff!important;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
}
::placeholder{
    font-size: 0.85rem;
}
/* ************* contact us end******************* */
/* *************** newsletter start**************** */
.newletter{
    width: 100%;
    height: auto;
    margin: 80px auto;
}
.news_input{
border-radius: 100px 0px 0px 100px!important;
min-width: 150px!important;
min-height: 40px;
}
.input-group-text{
    color: white;
    background: #5bc0e5;
    cursor: pointer;
    border-radius: 0% 100px 100px 0%;
    min-width: 120px!important;
    min-height: 40px!important;
}
/* *************** newsletter end**************** */
/* ************ footer start*************** */
.footer_section{
    width: 100%;
    height:auto;
    background: #5bc0e5;
    /* padding: 80px 0px; */
    color: 606060;
    padding-top: 80px;
}
.social_icons{
    padding-left: initial;
}
.social_icons li a i{
    color: #a9b1bf;
}
.social_icons li a{
   width: 40px;
   height: 40px;
   background: #717175;
   margin-right: 8px;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s ease;
}
.social_icons li a:hover i{
    color: white;
}
.social_icons li:nth-child(1) a:hover{
background: #4267B2;
transform: rotate(360deg)
}
.social_icons li:nth-child(2) a:hover{
    background: #1DA1F2;
    transform: rotate(360deg)
 }
 .social_icons li:nth-child(3) a:hover{
    background: #E60023;
    transform: rotate(360deg)
    }
.social_icons li:nth-child(4) a:hover{
        background: #E60023;
        transform: rotate(360deg)
}
.social_icons li:nth-child(5) a:hover{
    background: #ea4c89;
    transform: rotate(360deg)
}
.copyright{
    padding: 20px 0px;
   
}
.footer_div .social_icons2 li a ,.social_icons3 li a {
    color: #606060;
    line-height: 1.8rem!important;
}
.copyright p{
    margin-bottom: 0px;
    color: #606060;
}
.copyright{
    border-top: 1px dotted #ddd;
}
.footer_div h3 {
    margin-bottom: 21px;
}
.footer_div .social_icons2,.social_icons3 {
    padding: 0;
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 44px;
    right: 21px;
    z-index: 9999;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 5px;
}
.copyright p span{
    color: rgb(255, 0, 234);
}
#myBtn:hover{
    background: #606060;
}
/* ************ footer end*************** */

/* *********** media queries start***************** */
@media(max-width:768px){
    .nav-item{
        text-align: center!important;
    }
    .navbar-nav{
        padding-top: 10px!important;
    }
    .headings{
        padding-bottom: 22px!important;
    }
    .custom_progress .progress {
        width: 100%!important;
    }
    .custom_progress.my-3 h1:after {
        right: 4%!important;
    }
    .custom_development {
        margin-top: 28px;
    }
    .service_icons i {
        font-size: 46px;
    }
    .box {
        margin-bottom: 20px;
    }
    section#pricing_div {
        height: auto;
    }
    section#contact_id {
        height: auto;
    }
    .second_card {
        transform: translate(0);
    }
    .headings p {
        font-size: 14px;
    }
    .pricing .headings h1 {
        font-size: 29px;
    }
    .headings h1 {
        font-size:20px;
    }

}

/* *********** media queries end***************** */
